<% title 'Deliciously Portugal - About us' %>
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide">

		<h1>About us</h1>	
		<span class="w-pet-border"></span>
		<h4>Ever tried to order a traditional dish or product without knowing what you were ordering?
			<br/>
			Ever tried to try the delicious portuguese food and didn't know where to start?
			<br/>
			<br/>
				Then welcome to Deliciously Portugal.
			<br/>
				In deliciouslyportugal.com you can find a description in English of the top portuguese food, as well as the places and restaurants in Portugal where you can taste the time of your life.
				<br/><br/>
				<em>		Deliciously Portugal - Portugal. Food. Yumi.</em>
			</h4>			
			<br/>
			
					<span class="w-pet-border"></span>
	</div>
</div>



<h3></h3>
<p></p>

<p>	</p>

<p>	</p>

<p>	</p>


<p></p>



