<% title 'Deliciously Portugal - Bagde' %>
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide">

		<h2 class="title">Badge</h2>	
		<span class="w-pet-border"></span>	
		<a href="http://www.deliciouslyportugal.com/?ref=badge" rel="nofollow" target="_blank"><img src="http://www.deliciouslyportugal.com/assets/logo.png"  border="0" alt="Deliciously Portugal" /></a>	
		<br/>
		<br/>
	<code class="prettyprint">	
		&lt;a href="http://www.deliciouslyportugal.com/?ref=badge" rel="nofollow" 
		target="_blank"&gt;&lt;img src="http://www.deliciouslyportugal.com/assets/logo.png"  
		border="0" alt="Deliciously Portugal" /&gt;&lt;/a&gt;		 
	</code>
		<br/>
		

		<span class="w-pet-border"></span>
	</div>
</div>
