<% title 'Deliciously Portugal - Bagde' %>
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide">

		<h2 class="title">Badge on your blog</h2>	
		<span class="w-pet-border"></span>	
		<p>Place our badge on your blog, if you just love a delicious Pastel de Nata or an exquisite Port Wine (Vinho do Porto). <br/>
		By doing so, you're helping to promote great food to everyone in the world, namely more than one hundred main courses, starters, drinks and desserts that make the good of portuguese food.
<br/>
<br/>
		Just place the following source code on your blog and you're ready to go:
</p>	
		<a href="http://www.deliciouslyportugal.com/?ref=badge" rel="nofollow" target="_blank"><img src="http://www.deliciouslyportugal.com/assets/logo.png"  border="0" alt="Deliciously Portugal" /></a>	
		<br/>
		<br/>
	<code class="prettyprint">	
		&lt;a href="http://www.deliciouslyportugal.com/?ref=badge" rel="nofollow" 
		target="_blank"&gt;&lt;img src="http://www.deliciouslyportugal.com/assets/logo.png"  
		border="0" alt="Deliciously Portugal" /&gt;&lt;/a&gt;		 
	</code>
		<br/>
		<br/>
	<p>	To know more about this project, just check the "<%=link_to 'About us', :action=>'about_us', :controller =>'main'%>" section.
<br/>
		Thank you!</p>
		<span class="w-pet-border"></span>
	</div>
</div>
