<% title 'Deliciously Portugal - Donate' %>
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide">

		<h2 class='title'>Donate</h2>	
		<span class="w-pet-border"></span>
		<p>We worship delicious food.<br/>
			But we can't support delicious food without your kind help.
			<br/>
			So help us by donating some bucks to this cause.
			<br/>
			We promise we will spend it on our portal expenses and not directly on delicious dinners :)
			</p>			
			<br/>
			<center>	
				<%=render :partial => 'layouts/paypal'%>
				</center>
					<span class="w-pet-border"></span>
	</div>
</div>







