<% title 'Deliciously Portugal beta - Frequently asked questions (FAQ)' %>
<!-- ============= CONTENT AREA STARTS HERE ============== -->
<div id="content" class="clearfix">
		<div id="left-area" class="clearfix">
		
				<h2 class="title">FAQ's</h2>
				<br />
				<ul class="faq-list">
						<li class="active">
								<span class="number"></span>
								<h3>What is Deliciously Portugal?</h3>
								<p>It's the place to go if you want to taste good food. On deliciouslyportugal.com you can access all kinds of information about traditional food of one of the most praised gastronomy in the world.<br/>
								We provide info about the food (no more looking at the menu wondering what this food is like) and also about the restaurants that cook it well.</p>								
						</li>
						<li>
								<span class="number"></span>
								<h3>How can I display my restaurant on Deliciously Portugal?</h3>
								<p>Just click the submit button on <%=link_to 'your restaurant here', :controller=>'contacts', :action=>'interest' %> and we'll contact us with more details.</p>
						</li>
						<li>
								<span class="number"></span>
								<h3>How can I advertise on Deliciously Portugal?</h3>
								<p>Deliciously Portugal is a portal that helps tourists and food lovers all over the world and therefore, if you have a business which is somewhat related to these customer segments, then your ad will be at the right place.<br/>
								For advertising, just submit the form in <%=link_to 'your ad here', :controller=>'contacts', :action=>'suggest'%></p>
						</li>
						<li>
								<span class="number"></span>
								<h3>Why should I donate to Deliciously Portugal?</h3>
								<p>This project started as pro-bono only to promote the awesome portuguese food but of course that we have expenses with domains and hosting and thus your donation will surely be great for us. Thank you at least for considering <%=link_to 'donating', :action=>'donate', :controller=>'main'%>!</p>
						</li>					
				</ul>
		
		</div><!-- end of left-area -->
		<!-- LEFT AREA ENDS HERE -->
        
        
        <!-- ========== START OF SIDEBAR AREA ========== -->
		<div id="sidebar">
				<h2 class="w-bot-border">Delicious <span>food</span></h2>
				<div class="widget fav-recipes nostylewt">
				
				<%=render :partial => 'delicious_food_tabs'%>
				</div><!-- end of fav-recipes widget -->
				
			
		</div><!-- end of sidebar -->
        
        <!-- ========== END OF SIDEBAR AREA ========== -->

</div><!-- end of content div -->
<!-- ========== CONTENT AREA ENDS HERE ========== -->