<!-- ============= CONTENT AREA STARTS HERE ============== -->
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide">
		<h2 class="title">Portuguese near you</h2>
		<p>Find some delicious portuguese food near you. If you want your restaurant here, <%=link_to 'let us know', :controller=>'contacts', :action=>'interest' %> </p>

		<div id="map-canvas-world"></div>			        

		<span class="w-pet-border"></span>


	</div><!-- end of left-area -->



</div><!-- end of content div -->
<!-- ========== CONTENT AREA ENDS HERE ========== -->

</div><!-- end of container div -->
<div class="w-pet-border"></div>
<%= javascript_include_tag "markerwithlabel.js"  %>
<%= javascript_include_tag "portuguese.js"  %>