<%country = "" %>  
<!-- ============= CONTENT AREA STARTS HERE ============== -->
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix">
		<h2 class="title">Portuguese near you</h2>
		<p>Find some delicious portuguese food near you.</p>
		<%@clients.each do |client|%>
		<%if country!= client.country.name
			country=client.country.name
			%>

			<div class="f32">
				<div class="flag <%= client.country.iso2.downcase%>"></div>
			<h3 class="blue"><%=country%></h3>
			</div>
			<%end%>
			
			 <h4 class="red"><%=link_to (client.name + " - "+client.location), client_path(client) %></h4>
			 <p><%=link_to 'details', client_path(client), :class=>"readmore"%></p>
			
			<%end%>
			<span class="w-pet-border"></span>


		</div><!-- end of left-area -->



	</div><!-- end of content div -->
	<!-- ========== CONTENT AREA ENDS HERE ========== -->

</div><!-- end of container div -->
<div class="w-pet-border"></div>
