<% title 'Deliciously Portugal - Our sponsors' %>
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide">

		<h2 class='title'>Our sponsors</h2>	
		<span class="w-pet-border"></span>
			<div class="ads-642x79">
						<script type="text/javascript">
						var uri = 'http://imppt.tradedoubler.com/imp?type(js)pool(509594)a(2349691)' + new String (Math.random()).substring (2, 11);
						document.write('<sc'+'ript type="text/javascript" src="'+uri+'" charset="ISO-8859-1"></sc'+'ript>');
						</script>
			</div>
			<br/>
			<ins class="adsbygoogle googleAds-sponsors"
			style="display: inline-block"
			data-ad-client="ca-pub-5281126661789169"
			data-ad-slot="3622614122"></ins>
			<br/><br/>
<iframe width="468" height="60" scrolling="no" frameborder="0" name="banner" src="http://www.booking.com?aid=377043;tmpl=banner_468x60;label=banner_468_60;blang=en"></iframe>
			<span class="w-pet-border"></span>
			
		</div>
	</div>

	<%= javascript_include_tag 'ads.js' %>





