<div class="row">
<!-- Contact Details -->
<div class="large-9 columns">

	<h3>Terms and conditions</h3>
	<p>This portal should not be used if you have diabetes or food disorders.</p>

<p>If you don't, then welcome to paradise. :)</p>

</div>
</div>