<div class="row">
<!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Add new client.</h3>
      <p>Interface to insert new client.</p>
       
        <%= render "form" %>
		<%= link_to "Back", admin_configuration_client_types_path %>
                               
    </div>
 
    <!-- End Contact Details -->
	</div>