<div class="row">
<!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Edit <%= @client_type.name %>.</h3>
      <p>Interface to edit client types.</p>
       
        <%= render "form" %>
		<%= link_to "Back", admin_configuration_client_type_path %>
                               
    </div>
 
    <!-- End Contact Details -->
	</div>