<% if !@client_types.blank? %>
 <div class="row">   
    <div class="large-10 columns">
	<table>
	<tr>
    <th>Name</th>
    <th>Operations</th>
  </tr>
<%	@client_types.each do |client_type| %>
  <!-- Feed Entry -->
  <tr>
  <td> <%= client_type.name %>	</td>
  <td><%= link_to 'Edit', edit_admin_configuration_client_type_path(client_type) %></td>
  <td><%= link_to 'Remove', [:admin_configuration, client_type], method: :delete, :remote=>true, :class=>'delete_client_type', data: { confirm: 'Are you sure you want to delete the client type?' } %></td>
  </tr>
  <!-- End Feed Entry -->
  <%end%>
  </table>
  </div>
  </div>
 <% else %>
 <div class="row">
 <div class="large-10 columns">
 <h4> No clients types detected... Please add the first</h4>

 </div>
 </div>
 <%end%>

<div class="row">
<div class="large-6 columns">
<%= link_to "Add new", new_admin_configuration_client_type_path %>
</div>
</div>