<% if !@news.blank? %>
 <div class="row">   
    <div class="large-10 columns">
	<table>
	<tr>
    <th>Name</th>
    <th>Operations</th>
  </tr>
<%	@news.each do |new| %>
  <!-- Feed Entry -->
  <tr>
  <td> <%= new.title %>	</td>
  <td><%= link_to 'Edit', edit_admin_news_path(new) %></td>
  <td><%= link_to 'Remove', [:admin, new], method: :delete, :remote=>true, :class=>'delete_news', data: { confirm: 'Are you sure you want to delete the new?' } %></td>
  </tr>
  <!-- End Feed Entry -->
  <%end%>
  </table>
  </div>
  </div>
 <% else %>
 <div class="row">
 <div class="large-10 columns">
 <h4> No news detected... Please add the first</h4>

 </div>
 </div>
 <%end%>

<div class="row">
<div class="large-6 columns">
<%= link_to "Add new", new_admin_news_path %>
</div>
</div>