<div class="row">
<!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Add new New.</h3>
      <p>Interface to insert news.</p>
       
        <%= render "form" %>
		<%= link_to "Back", admin_news_index_path %>
                               
    </div>
 
    <!-- End Contact Details -->
	</div>