<% title 'Deliciously Portugal - Contact us' %>
<!-- ============= CONTENT AREA STARTS HERE ============== -->
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix">
		<h2 class="title">Contact us</h2>
		<p>Do you want to partner with us?<br/>
			Was this website useful to you?<br/>
			Do you have anything to tell us? Anything at all?<br/>
			Send us a message and let us know what's on your mind!</p>
			<!-- <div class="single-img-box">
			<div id="map_canvas"></div>			        
			</div>
			-->
			 <%= form_tag ("/contacts/sendemail"), {:id => 'contact-form', remote: true } do %>
			<%=render 'form_contact' %>
			
			<%end%>

		</div><!-- end of left-area -->
		
		<div id="sidebar">
		       
				     
				
						        <ins class="adsbygoogle googleAds-products-categories"
								style="display: inline-block"
								data-ad-client="ca-pub-5281126661789169"
								data-ad-slot="3622614122"></ins>
								
				        
		        	
		       
		        		       
        </div><!-- end of sidebar -->

</div><!-- end of content div -->

<script type="text/javascript">
$(document).ready(function() {
(adsbygoogle = window.adsbygoogle || []).push({});
});
</script>