<% title 'Deliciously Portugal - Your restaurant here' %>
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix">
		<h2 class="title">Suggest us a delicious food</h2>
		<p>Have we forgotten a delicious portuguese food? <br/>
			Get in touch with us and suggest your favourite food.<br/>
			We promise that we will analyze your suggestion soon. Yeah, cross our hearts. </p>
			  
			<%= render "form" %>		  
			
		</div>
	</div>
<%= javascript_include_tag params[:controller] %>