<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <table>
  <tr>
  <td>Nome: </td>
  <td><%=@info[0] %></td>
  </tr>
   <tr>
  <td>Email: </td>
  <td><%=@info[1] %></td>
  </tr>
   <tr>
  <td>Subject: </td>
  <td><%=@info[2] %></td>
  </tr>
   <tr>
  <td>Conteúdo da mensagem: </td>
  <td><%=@info[3] %></td>
  </tr>
  </table>
  </body>
</html>