<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <table>
  <tr>
  <td>Nome: </td>
  <td><%=@info[0] %></td>
  </tr>
   <tr>
  <td>Email: </td>
  <td><%=@info[1] %></td>
  </tr>
   <tr>
  <td>Contacto: </td>
  <td><%=@info[2] %></td>
  </tr>
  <tr>
  <td>Produto sugerido: </td>
  <td><%=@info[3] %></td>
  </tr>

  </table>
  
  <span> Ver mais detalhes em http://www.deliciouslyportugal.com/admin/products/list_suggestions </span>
  
  </body>
</html>