<div class="row">
<!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Edit <%= @category.name %>.</h3>
      <p>Interface to edit categories.</p>
       
        <%= render "form" %>
		<%= link_to "Back", admin_category_path %>
                               
    </div>
 
    <!-- End Contact Details -->
	</div>