<% @categories.each do |category| %>

  <!-- Feed Entry -->
  <div class="row">   
    <div class="large-10 columns">
	<p> <strong>Name: </strong> <%=category.name %> </p>
      <ul class="inline-list">
        <li><%= link_to 'Edit', edit_admin_category_path(category) %></li>
        <li><%= link_to 'Remove', [:admin, category], method: :delete, :remote=>true, :class=>'delete_category', data: { confirm: 'Are you sure you want to delete the category?' } %></li>
      </ul>

    </div>
	<hr />
  </div>
  <!-- End Feed Entry -->

  
  
<% end %>