<div class="row">
<!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Edit <%= @product.name %>.</h3>
      <p>Interface to edit products.</p>
 
    
      
        <%= render 'form' %>
		<%= link_to 'Back', admin_products_path %>
         
                       
    </div>
 
    <!-- End Contact Details -->
	</div>