<% if !@service_modalities.blank? %>
 <div class="row">   
    <div class="large-10 columns">
	<table>
	<tr>
    <th>Name</th>
    <th>Operations</th>
  </tr>
<%	@service_modalities.each do |service| %>
  <!-- Feed Entry -->
  <tr>
  <td> <%= service.name %>	</td>
  <td><%= link_to 'Edit', edit_admin_configuration_service_modality_path(service) %></td>
  <td><%= link_to 'Remove', [:admin_configuration, service], method: :delete, :remote=>true, :class=>'delete_service_modality', data: { confirm: 'Are you sure you want to delete the service modality?' } %></td>
  </tr>
  <!-- End Feed Entry -->
  <%end%>
  </table>
  </div>
  </div>
 <% else %>
 <div class="row">
 <div class="large-10 columns">
 <h4> No services modalities detected... Please add the first</h4>

 </div>
 </div>
 <%end%>

<div class="row">
<div class="large-6 columns">
<%= link_to "Add new", new_admin_configuration_service_modality_path %>
</div>
</div>