<%= javascript_include_tag "google.maps.js" %>
<%= javascript_include_tag params[:controller] %>
<div class="row">
<!-- Contact Details -->
    <div class="large-9 columns">

      <h3>Suggest us a delicious food</h3>
 
    <p>Have we forgotten a delicious portuguese food?</p>

  <p>Get in touch with us and suggest your favourite food.</p>

  <p>We promise that we will analyze your suggestion soon. Yeah, cross our hearts. </p>
 
      <%= render "form" %>
	  <%= link_to "Back", main_index_path %>
      
        
         
         
               
    </div>
 
    <!-- End Contact Details -->
	</div>