@import "foundation_and_overrides";
@import "jquery.ui.all";
@import "main";
@import "contact";
@import 'foundation-social-web-icons';


/** Removes black background on menu item **/
.top-bar-section ul  
{
    background: none;    
}
.top-bar-section li a:not(.button){
background:none;
}
body
{
	background-image:url(subtle_white_feathers.png);
}

  	#map-canvas { height: 200px; display:inline-block;
  		width: 200px; margin:10px;}
  		.gmnoprint img {
  			max-width: none; 
  		}