// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main.search
{
width: 100%; 
height: 50px; 
font-size: 15pt;
}

.orbit-container .orbit-slides-container > * {
height: 400px; /* max-height if you prefer */
overflow: hidden;
}
.orbit-container .orbit-slides-container img {
width: 100%;
}

.main.thumbnail
{
	width:220;
	height: 147px;
}