<%= javascript_include_tag "main_product.js" %>
<div class="left_tile1 tile">
</div>

<div class="right_tile1 tile">
</div>

<div class="left_tile2 tile">
</div>

<div class="right_tile2 tile">
</div>

<div id="box">
	<div id="tranparent">
		<div id="title">Deliciously Portugal</div>
	</div>
	<input id="search" placeholder="Search for delicious portuguese food..."/>	
</div>