<!-- Main Feed -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="large-10 large-centered columns">
	<br/>
	<br/>
<div id="list_products">
  <%= render "list_products" %>
  </div>
<%= link_to "Back", main_index_path %>
</div>



