<% if flash[:notice] %>
  <%= content_tag :div, :id => "flash_name", :class => "alert-box success" , "data-alert" => '' do %>
    <%= flash[:notice] %>
    <a class="close">x</a>
  <% end %>
<% end %>